<br><br><br><br>

<div>
    <h1>Welcome to our Time Sheet Website!</h1>
    <p>Thank you for visiting our site! Our time sheet website is designed to help you keep track of your work hours and manage your time effectively.</p>
    <p>To get started, simply create an account or log in if you already have one. Once you're logged in, you can start recording your work hours.</p>
    <p>If you have any questions or feedback, please don't hesitate to contact us. We're always happy to help!</p>
  </div>